

.play , .pause{

    height:60px;
    width:60px;
   position: relative;
}
.track{
    opacity:1;
    font-size:1.25rem;
}
.next{
    height:60px;
    width:60px;
}
.previous{
    height:60px;
    width:60px;
}
.left{
    justify-self: end;
   
    float:right;
    height: 20px;
    width:20px;
}
.right{
    display:block;
    height: 20px;
    width:20px;
}

.page{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-110vw);
      
}

.page.active{
    
    transform: translateX(0vw);
    
    position: absolute;
    z-index: 100;
    opacity: 1;
    transition: transform 1s;
}

body{
    background-color: hsl(220, 57%, 78%);
}
.page1 ,.page2{
   
   height:100vh;
    width:90vw;
    
    
}
.player{
    margin-left:7vw;
}

.page2{
    display: grid;
    justify-self: right;
    grid-template-rows: 1fr 5fr 2fr 1fr;
    
}
.bar{
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-columns:1fr 5fr 1fr ;
    justify-items: center;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 20px;

}
.progress{
    align-self: center;
    height:10px;
    width:60vw;
   
}


.start,.end{
    size:10px;
}
.poster{
    float: left;
    height:60px;
    width:60px;
    
    margin-right: 1rem;

    
}
.songList{
    border-top: 1px solid;
    
    color: hsl(40, 73%, 9%);
    font-size: 24px;
    font-weight: 700; 
    padding-top: 5px;
    
}
p span{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    opacity: 0.5;
    padding: 0;
}
.time{
    opacity:0.5;
    
}
.func{
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
   
    
}

.show{
    display: none;
    opacity: 0;
    z-index: 10;

}
.show.active{
    display: block;
    opacity:1;
    z-index: 20;
}
.visual{
    width:50vw;
    padding-right: 20vw;
    padding-left:20vw ;
    
}
.visual.act{
    animation: rotate 5s  linear infinite;

}

.name,.art{
    text-align: center;
}
.name{
    color: hsl(40, 73%, 9%);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}
.art{
    color:hsl(40, 73%, 9%);
    font-size:1rem;
    opacity:0.5;
    font-weight: 500;
    margin-top: 0;
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}